{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.walmartlabs/lacinia {:mvn/version "0.37.0-alpha-1"}
        com.walmartlabs/lacinia-pedestal {:mvn/version "0.5.0"}
        io.aviso/logging {:mvn/version "0.2.0"}}
 :paths ["src"]}
